/* body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */

h2 {
  padding: 1rem;
}

h1 {
  padding: 1rem;
}

.logo {
  display: inline-block;
  height: 150px;
  margin-left: 200px;
}

.search-bar {
  display: inline-block;
  margin-left: 150px;
}

.card-image {
  height: 175px;
  width: 100px;
}
